.cart {
    background-color: var(--color-white);
    width: 30%;
    height: 90vh;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}

.cart__cart-list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 60%;
    overflow: auto;
}

.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    gap: 8px;
}

.cart-item__image {
    width: 100px;
    position: relative;
}

.cart-item__desc {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 60%;
}

.cart-item__desc > p {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cart-item__action {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

}

.cart-item__action > button {
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 50%;
  border: none;
  outline: none;
  width: 25px;
  height: 25px;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  transition: 300ms all;
}

.cart-item__action > button:hover {
  filter: brightness(130%);
}

.cart__checkout {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cart__total-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart__pay {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}

.cart__pay > input {
    width: 70%;
    border: 2px solid var(--color-gray);
    border-radius: 24px;
    font-size: 14px;
    padding: 6px 6px 6px 14px;
}

.cart__checkout > button {
    background-color: var(--color-blue);
    color: var(--color-white);
    height: 36px;
    border: none;
    border-radius: 24px;
    outline: none;
    cursor: pointer;
    transition: 300ms all;
}

.cart__checkout > button:hover {
    filter: brightness(130%);
}